extends layout

block content
  //- eventsMod
  div.container.cofMod(ng-controller='CofEventsCtrl', ng-cloak)

    form.form-inline.resultFilters.clearfix(role='form')
      div.form-group
        input(id='refreshCheck', type='checkbox', checked='checked', ng-model='checked', ng-init='checked=true', ng-change='toggleRefresh(checked)')
        label.control-label(for='refreshCheck') 
        | &nbsp;Auto-Update Servers 
        span(ng-show='!isRefreshing') ({{seconds}})
        span(ng-show='isRefreshing') (Updating)

    //- results
    div.results(ng-show='!freshEvents')
      ul.col-md-6.result-list
        li.state
          span.instance CoF
          span.sub-text  is open on the following servers:
        //- american servers
        li.serverLocation
          | North America [NA]
          ul
            each event in cofevents
              if event.state == 'Warmup'
                if event.world_id < 2000
                  li
                    span #{event.worldName}
        //- european servers
        li.serverLocation
          | Europe [EU]
          ul
            each event in cofevents
              if event.state == 'Warmup'
                if event.world_id >= 2000
                  li
                    span #{event.worldName}

      ul.col-md-6
        li.state 
          span.instance CoE
          span.sub-text  is open on the following servers:
        //- american servers
        li.serverLocation
          | North America [NA]
          ul
            each event in coeevents
              if event.state == 'Warmup'
                if event.world_id < 2000
                  li
                    span #{event.worldName}
        //- european servers
        li.serverLocation
          | Europe [EU]
          ul
            each event in coeevents
              if event.state == 'Warmup'
                if event.world_id >= 2000
                  li
                    span #{event.worldName}


    //- refreshed results
    div.results(ng-show='freshEvents')
      ul.col-md-6.result-list
        li.state
          span.instance CoF
          span.sub-text  is open on the following servers:
        //- american servers
        li.serverLocation
          | North America [NA]
          ul
            li(ng-repeat='event in cofevents', ng-show='event.state=="Warmup" && event.world_id < 2000')
              span {{event.worldName}}

        //- european servers
        li.serverLocation
          | Europe [EU]
          ul
            li(ng-repeat='event in cofevents', ng-show='event.state=="Warmup" && event.world_id >= 2000')
              span {{event.worldName}}

      ul.col-md-6
        li.state 
          span.instance CoE
          span.sub-text  is open on the following servers:
        //- american servers
        li.serverLocation
          | North America [NA]
          ul
            li(ng-repeat='event in coeevents', ng-show='event.state=="Warmup" && event.world_id < 2000')
              span {{event.worldName}}

        //- european servers
        li.serverLocation
          | Europe [EU]
          ul
            li(ng-repeat='event in coeevents', ng-show='event.state=="Warmup" && event.world_id >= 2000')
              span {{event.worldName}}
  