extends layout

block content
  div.container.eventsMod(ng-controller='EventsCtrl')
    form.form-inline.resultFilters.clearfix(role='form')
      div.form-group.mapServerFilter
        div.form-group.serverInputFilter
          label.control-label.col-lg-3(for='serverInputFilter') Server:
          div.col-lg-9
            select#serverInputFilter.form-control(ng-init='serverListModel=currWorldId', ng-change='updateServerEvents(serverListModel)', ng-model='serverListModel')
              each worldName in worldNames
                if currWorldName == worldName.name
                  option(selected='selected',value=worldName.id)= worldName.name
                else
                  option(value=worldName.id)= worldName.name 
        div.form-group.mapInputFilter
          label.control-label.col-md-3(for='mapInputFilter') Map:
          div.col-lg-9
            select#mapInputFilter.form-control(ng-init='mapEventsModel=currMapId',ng-change='updateMapEvents(mapEventsModel)', ng-model='mapEventsModel')
              each mapName in mapNames
                if currMapName == mapName.name
                  option(selected='selected',value=mapName.id)= mapName.name
                else
                  option(value=mapName.id)= mapName.name
      div.form-group.eventsInputFilter.col-md-3
        label.sr-only(for='eventsInputFilter') Event Name
        input#eventsInputFilter.form-control(type='text', ng-model='eventsQuery', placeholder='Filter Events...')
      div.form-group
        input(id='refreshCheck', type='checkbox', checked='checked', ng-model='checked', ng-init='checked=true', ng-change='toggleRefresh(checked)')
        label.control-label(for='refreshCheck') 
        | &nbsp;Auto-Update Events 
        span(ng-show='!isRefreshing', ng-cloak) ({{seconds}})
        span(ng-show='isRefreshing', ng-cloak) (Updating)

    if isHomePage
      -var initialTab = '/img/Event_boss_(map_icon).png';
    else
      -var initialTab = 'all';
    ul.nav.nav-tabs(ng-init='ef="#{initialTab}"')
      if isHomePage
        li.tab-item(ng-click='ef="all"')
          a.first-tab(href='#') All Events
      else
        li.tab-item.active(ng-click='ef="all"')
          a.first-tab(href='#') All Events
      if isHomePage
        li.tab-item.active(ng-click='ef="/img/Event_boss_(map_icon).png"')
          a(href='#')
            img(src='/img/Event_boss_(map_icon).png')
      else
        li.tab-item(ng-click='ef="/img/Event_boss_(map_icon).png"')
          a(href='#')
            img(src='/img/Event_boss_(map_icon).png')
      li.tab-item(ng-click='ef="/img/Event_cog_(map_icon).png"')
        a(href='#')
          img(src='/img/Event_cog_(map_icon).png')
      li.tab-item(ng-click='ef="/img/Event_collect_(map_icon).png"')
        a(href='#')
          img(src='/img/Event_collect_(map_icon).png')
      li.tab-item(ng-click='ef="/img/Event_fist_(map_icon).png"')
        a(href='#')
          img(src='/img/Event_fist_(map_icon).png')
      li.tab-item(ng-click='ef="/img/Event_flag_(map_icon).png"')
        a(href='#')
          img(src='/img/Event_flag_(map_icon).png')
      li.tab-item(ng-click='ef="/img/Event_shield_(map_icon).png"')
        a(href='#')
          img(src='/img/Event_shield_(map_icon).png')
      li.tab-item(ng-click='ef="/img/Event_star_(map_icon).png"')
        a(href='#')
          img(src='/img/Event_star_(map_icon).png')
      li.tab-item(ng-click='ef="/img/Event_swords_(map_icon).png"')
        a(href='#')
          img(src='/img/Event_swords_(map_icon).png')
      li.tab-item(ng-click='ef="/img/Event_wrench_(map_icon).png"')
        a(href='#')
          img(src='/img/Event_wrench_(map_icon).png')
    br
    div.table-responsive.results(ng-filter='eventsQuery')
      table.table.table-hover.table-bordered(ng-show='!freshEvents')
        tr.headings
          th.col-md-1 State&nbsp;
            span(ng-class='"glyphicon glyphicon-chevron-down"', ng-click='predicate = "state"; reverse=!reverse; freshEvents=true')
          th.col-md-1 Type&nbsp;
          th.col-md-1 Level&nbsp;
          th.col-md-7 Event&nbsp;
            span(ng-class='"glyphicon glyphicon-chevron-down"', ng-click='predicate = "name"; reverse=!reverse; freshEvents=true')
          th.col-md-2 Location&nbsp;
        each event in events
          -var eventname = event.name.replace(/\"/g, '\'')
          tr
            td.state(ng-show='ef==getIconSrc(getEventMeta("#{eventname}", "eventTypeIconSrc")) || ef=="all"')
              ul 
                li(class='#{event.state}')
                  span #{event.state}
            td.type(ng-show='ef==getIconSrc(getEventMeta("#{eventname}", "eventTypeIconSrc")) || ef=="all"')
              img(ng-src='{{getIconSrc(getEventMeta("#{eventname}", "eventTypeIconSrc"))}}', ng-cloak)
            td.level(ng-show='ef==getIconSrc(getEventMeta("#{eventname}", "eventTypeIconSrc")) || ef=="all"')
              span(ng-cloak) {{getEventMeta("#{eventname}", "level")}}
            td.name(ng-show='ef==getIconSrc(getEventMeta("#{eventname}", "eventTypeIconSrc"))|| ef=="all"')
              a.nameLink(href='#{event.wikiUrl}', target='_blank') #{eventname}
                span.wikiLink  [wiki]
              ul
                li(ng-show='getEventMeta("#{eventname}", "questChain")' ng-cloak) <strong>Part of</strong> 
                  a(ng-href='http://wiki.guildwars2.com/wiki/{{getEventMeta("#{eventname}", "questChain")}}', ng-cloak, target='_blank') {{getEventMeta("#{eventname}", "questChain")}}
                li(ng-show='getEventMeta("#{eventname}", "precededBy")' ng-cloak) <strong>Preceded by</strong> 
                  a(ng-href='http://wiki.guildwars2.com/wiki/{{getEventMeta("#{eventname}", "precededBy")}}', ng-cloak, target='_blank') {{getEventMeta("#{eventname}", "precededBy")}}
                li(ng-show='getEventMeta("#{eventname}", "followedBy")' ng-cloak) <strong>Followed by</strong> 
                  a(ng-href='http://wiki.guildwars2.com/wiki/{{getEventMeta("#{eventname}", "followedBy")}}', ng-cloak, target='_blank') {{getEventMeta("#{eventname}", "followedBy")}}
            td.location(ng-show='ef==getIconSrc(getEventMeta("#{eventname}", "eventTypeIconSrc"))|| ef=="all"')
              span.glyphicon.glyphicon-map-marker(ng-show='getEventMeta("#{eventname}", "mapImageUrl")', ng-cloak)
              span(ng-show='getEventMeta("#{eventname}", "mapImageUrl")', ng-cloak)
                | [
                a(data-lightbox='#{event.name} - 1', title='#{event.name} - Source: http://wiki.guildwars2.com', href='http://wiki.guildwars2.com{{getEventMeta("#{eventname}", "mapImageUrl")}}') View on map
                | ]
              div.map
                a(ng-href='http://wiki.guildwars2.com/wiki/{{(getEventMeta("#{eventname}", "location"))}}', ng-cloak, target='_blank') {{getEventMeta("#{eventname}", "location")}}
      //- shown only after an event refresh occurs, hides original table
      table.table.table-hover.table-bordered(ng-show='freshEvents')
        tr.headings
          th.col-md-1 State&nbsp;
            span(ng-class='"glyphicon glyphicon-chevron-down"', ng-click='predicate = "state"; reverse=!reverse')
          th.col-md-1 Type&nbsp;
          th.col-md-1 Level&nbsp;
          th.col-md-7 Event&nbsp;
            span(ng-class='"glyphicon glyphicon-chevron-down"', ng-click='predicate = "name"; reverse=!reverse')
          th.col-md-2 Location&nbsp;
          tr(ng-repeat='event in events | filter: eventsQuery | orderBy:predicate:reverse')
            td.state(ng-show='ef==getIconSrc(getEventMeta(event.name, "eventTypeIconSrc")) || ef=="all"')
              ul 
                li(ng-class='event.state')
                  span {{event.state}}
            td.type(ng-show='ef==getIconSrc(getEventMeta(event.name, "eventTypeIconSrc")) || ef=="all"')
              img(ng-src='{{getIconSrc(getEventMeta(event.name, "eventTypeIconSrc"))}}')
            td.level(ng-show='ef==getIconSrc(getEventMeta(event.name, "eventTypeIconSrc")) || ef=="all"')
              span {{getEventMeta(event.name, "level")}}
            td.name(ng-show='ef==getIconSrc(getEventMeta(event.name, "eventTypeIconSrc")) || ef=="all"')
              a.nameLink(ng-href='{{encodeEventNameToWikiUrl(event.name)}}', target='_blank') {{event.name}}
                span.wikiLink  [wiki]
              ul
                li(ng-show='getEventMeta(event.name, "questChain")') <strong>Part of</strong> 
                  a(ng-href='http://wiki.guildwars2.com/wiki/{{getEventMeta(event.name, "questChain")}}', target='_blank') {{getEventMeta(event.name, "questChain")}}
                li(ng-show='getEventMeta(event.name, "precededBy")') <strong>Preceded by</strong> 
                  a(ng-href='http://wiki.guildwars2.com/wiki/{{getEventMeta(event.name, "precededBy")}}', target='_blank') {{getEventMeta(event.name, "precededBy")}}
                li(ng-show='getEventMeta(event.name, "followedBy")') <strong>Followed by</strong> 
                  a(ng-href='http://wiki.guildwars2.com/wiki/{{getEventMeta(event.name, "followedBy")}}', target='_blank') {{getEventMeta(event.name, "followedBy")}}
            td.location(ng-show='ef==getIconSrc(getEventMeta(event.name, "eventTypeIconSrc")) || ef=="all"')
              span.glyphicon.glyphicon-map-marker(ng-show='getEventMeta(event.name, "mapImageUrl")')
              span(ng-show='getEventMeta(event.name, "mapImageUrl")')
                | [
                a(data-lightbox='{{event.name}} - 2', title='{{event.name}} - Source: http://wiki.guildwars2.com', href='http://wiki.guildwars2.com{{getEventMeta(event.name, "mapImageUrl")}}') View on map
                | ]
              div.map
                a(ng-href='http://wiki.guildwars2.com/wiki/{{(getEventMeta(event.name, "location"))}}', target='_blank') {{getEventMeta(event.name, "location")}}
