extends layout

block content
  //- eventsMod
  div.container.eventsMod(ng-controller='EventsCtrl',ng-cloak)

    //- summary of the results
    p 
      strong Showing {{events.length}} events on {{currWorldName}} | {{currMapName}}

    //- search result filters
    form.form-inline.resultFilters(role='form')
      
      div.form-group
        label.sr-only(for='stateInputFilter') State:
        select.form-control.col-md-1(ng-init='stateFilterModel="All"',ng-model='stateFilterModel')
          option(value='All') All States
          option(value='Active') Active
          option(value='Success') Success
          option(value='Preparation') Preparation
          option(value='Warmup') Warmup
          option(value='Fail') Fail
          option(value='Inactive') Inactive    

      div.form-group
        label.sr-only(for='eventsInputFilter') Event Name
        input#eventsInputFilter.form-control.col-md-3(type='text', ng-model='eventsQuery', placeholder='Filter Results...')


      //- wrapper for our server and map dropdowns
      div.form-group.pull-right.mapServerFilter

        div.form-group.pull-right.mapInputFilter
          label.control-label.col-md-3(for='mapInputFilter') Map:
          div.col-lg-9
            select#mapInputFilter.form-control(ng-init='mapEventsModel=currMapId',ng-change='updateMapEvents(mapEventsModel)', ng-model='mapEventsModel')
              each mapName in mapNames
                if currMapName == mapName.name
                  option(selected='selected',value=mapName.id)= mapName.name
                else
                    option(value=mapName.id)= mapName.name

        div.form-group.pull-right.serverInputFilter
          label.control-label.col-lg-3(for='serverInputFilter') Server:
          div.col-lg-9
            select#serverInputFilter.form-control(ng-init='serverListModel=currWorldId', ng-change='updateServerEvents(serverListModel)', ng-model='serverListModel')
              each worldName in worldNames
                if currWorldName == worldName.name
                  option(selected='selected',value=worldName.id)= worldName.name
                else
                  option(value=worldName.id)= worldName.name  

    //- results
    div.table-responsive.results
      table.table.table-bordered.table-striped
        tr
          th.col-sm-1 State
          th.col-sm-11 Event Name
        tr(ng-repeat='event in events | filter: eventsQuery', ng-show='event.state==stateFilterModel || stateFilterModel=="All"')
          td.col-md-1.text-center.eventStatus
            figure.circle(ng-class='event.state') 
            span {{event.state}}
          td.col-md-11.lead.eventName {{event.name}}

  //- static results placed off canvas, (for S E O)
  div.eventInfoOffCanvas
    each event in events
      span #{event.name}&nbsp;#{event.state}&nbsp;

  