doctype 5
html(ng-app='myApp')
  head
    title
      if displayServerMapInTitle
        | #{currWorldName} | #{currMapName} |
      if isCof
        | CoF CoE open status |
      |  GW2ES - Real-time event, dungeon, and boss tracker
    if displayServerMapInTitle
      meta(name='description', content='Event and boss tracker for #{currMapName} on #{currWorldName}.')
      meta(name='keywords', content='Guild Wars 2, GW2, Event, Boss, Timer, Tracker, Status, State, #{currMapName}, #{currWorldName}')
    else
      meta(name='description', content='Event and boss tracker for guild wars 2 events. CoF dungeon status. CoE dungeon status.')
      meta(name='keywords', content='Guild Wars 2, GW2, Event, Boss, Timer, Tracker, Status, State')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
    link(rel='stylesheet', href='/css/lightbox.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/src/css/app.min.css')
  body
    //- need a wrap div for the sticky footer
    div#wrap
      //- Fixed navbar
      //-suppose title local denotes the active nav item
      div.navbar.navbar-inverse.navbar-fixed-top
        div.container
          div.navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')= title
          div.navbar-collapse.collapse
            ul.nav.navbar-nav
              //- home tab
              if activeTab == 'home'
                li(class='active') 
                  a(href='/') World Events
              else
                li
                  a(href='/') World Events

              //- cof tab
              if activeTab == 'cof'
                li(class='active')
                  a(href='/cof') CoF
              else
                li
                  a(href='/cof') CoF

              //- coe tab
              if activeTab == 'coe'
                li(class='active')
                  a(href='/coe') CoE
              else
                li
                  a(href='/coe') CoE
            div.nav-collapse


      //- logo/banner on top of every page
      div.container.page-header.bannerMod
        a(href='/')
          h1
            figure.circle
            | #{title}
            br
            span Real-time event state tracker
        p.alert.alert-warning The guild wars API is currently down, falling back to local results in our mongodb, please allow *5-30 seconds for it to load.

      //- the view
      block content

    //- sticky footer
    div#footer.footerMod
      div.container
        //--p.text-muted.credit Justin Barnett

    //- large scripts from CDNs for large frameworks
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    //- expose our models from our node server to our clientside javascript
    script!= javascript
    //- Our minified local scripts
    script(src='/src/js/app.min.js')


