
/**
 * ================================================
 * All styles are extending the bootstrap framework
 *
 * What goes in this file? Global styles and vars
 * ================================================
 */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin for sticky footer. */
}

/* Wrapper for page content to push down footer */
#wrap {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.eventInfoOffCanvas {
  left: -9999px;
  position: absolute;
  top: -9999px;
}  

//angular-js ng-cloak bug fix
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}