.bannerMod {
  margin-top: 55px;

  a {
    color: #333;
    display: inline-block;
  }

  a:hover {
    text-decoration: none;
  }
  
  h1 {
    font-weight: bold;
    margin: 0 0 10px;
    margin-top: 30px;
    padding-bottom: 15px;
    position: relative;
    text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
  } 

  h1 span {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    padding-left: 27px;
    position: absolute;
    text-shadow: none;
    width: 200px;
  }

  .circle {
    @logoColor: #5cb85c;
    background: @logoColor;
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    margin-bottom: -2px;
    width: 30px;
  }
}