/**
 * Styles for the circle states and for the logo
 */

@activestate: #5cb85c;
@prepstate: #f0ad4e;
@warmupstate: #ffff80;
@failstate: #d9534f;
@inactivestate: #CCCCCC;
@successstate: #428bca;
@ballOuterGradient: #777;

.circle {
  display: block;
  background: black;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  margin: 0 auto;
}

.circle.Active {
  background: @activestate;
  background: -webkit-radial-gradient(33% 33%, circle, @activestate, @ballOuterGradient);
  background: -moz-radial-gradient(33% 33%, circle, @activestate, @ballOuterGradient);
  background: -o-radial-gradient(33% 33%, circle, @activestate, @ballOuterGradient);
  background: -ms-radial-gradient(33% 33%, circle, @activestate, @ballOuterGradient);
  background: radial-gradient(33% 33%, circle, @activestate, @ballOuterGradient);
}

.circle.Preparation {
  background: @prepstate;
  background: -webkit-radial-gradient(33% 33%, circle, @prepstate, @ballOuterGradient);
  background: -moz-radial-gradient(33% 33%, circle, @prepstate, @ballOuterGradient);
  background: -o-radial-gradient(33% 33%, circle, @prepstate, @ballOuterGradient);
  background: -ms-radial-gradient(33% 33%, circle, @prepstate, @ballOuterGradient);
  background: radial-gradient(33% 33%, circle, @prepstate, @ballOuterGradient);
}

.circle.Warmup {
  background: @warmupstate;
  background: -webkit-radial-gradient(33% 33%, circle, @warmupstate, @ballOuterGradient);
  background: -moz-radial-gradient(33% 33%, circle, @warmupstate, @ballOuterGradient);
  background: -o-radial-gradient(33% 33%, circle, @warmupstate, @ballOuterGradient);
  background: -ms-radial-gradient(33% 33%, circle, @warmupstate, @ballOuterGradient);
  background: radial-gradient(33% 33%, circle, @warmupstate, @ballOuterGradient);
}

.circle.Fail {
  background: @failstate;
  background: -webkit-radial-gradient(33% 33%, circle, @failstate, @ballOuterGradient);
  background: -moz-radial-gradient(33% 33%, circle, @failstate, @ballOuterGradient);
  background: -o-radial-gradient(33% 33%, circle, @failstate, @ballOuterGradient);
  background: -ms-radial-gradient(33% 33%, circle, @failstate, @ballOuterGradient);
  background: radial-gradient(33% 33%, circle, @failstate, @ballOuterGradient);
}

.circle.Inactive {
  background: @inactivestate;
  background: -webkit-radial-gradient(33% 33%, circle, @inactivestate, @ballOuterGradient);
  background: -moz-radial-gradient(33% 33%, circle, @inactivestate, @ballOuterGradient);
  background: -o-radial-gradient(33% 33%, circle, @inactivestate, @ballOuterGradient);
  background: -ms-radial-gradient(33% 33%, circle, @inactivestate, @ballOuterGradient);
  background: radial-gradient(33% 33%, circle, @inactivestate, @ballOuterGradient);
}

.circle.Success {
  background: @successstate;
  background: -webkit-radial-gradient(33% 33%, circle, @successstate, @ballOuterGradient);
  background: -moz-radial-gradient(33% 33%, circle, @successstate, @ballOuterGradient);
  background: -o-radial-gradient(33% 33%, circle, @successstate, @ballOuterGradient);
  background: -ms-radial-gradient(33% 33%, circle, @successstate, @ballOuterGradient);
  background: radial-gradient(33% 33%, circle, @successstate, @ballOuterGradient);
}