.cofMod {
  
  .resultFilters {
    margin-bottom: 10px;

    .form-group {
      margin-right: 5px;
    }

    .eventsInputFilter {
      float: none;
      margin-right: 5px;
    }
  }

  .results {

    ul.result-list {
      padding-left: 0;  
    }

    ul li {
      padding: 2px 0;
    }

    ul li.serverLocation {
      font-size: 18px;
      font-weight: bold;
      list-style: none;

      span {
        font-weight: normal;
      }
    }

    ul li.state {
      font-weight: normal;
      list-style: none;
    }

    span.sub-text {
      font-size: 14px;
    }

    ul li.state .instance {
      font-weight: bold;
      font-size: 30px;
    }
    
    .circle {
      @logoColor: #5cb85c;
      @ballOuterGradient: #777;
      background: @logoColor;
      background: -webkit-radial-gradient(33% 33%, circle, @logoColor, @ballOuterGradient);
      background: -moz-radial-gradient(33% 33%, circle, @logoColor, @ballOuterGradient);
      background: -o-radial-gradient(33% 33%, circle, @logoColor, @ballOuterGradient);
      background: -ms-radial-gradient(33% 33%, circle, @logoColor, @ballOuterGradient);
      background: radial-gradient(33% 33%, circle, @logoColor, @ballOuterGradient);
    }
  }
}