.eventsMod {

  ul .first-tab {
    min-height: 44px;
  }

  ul.nav.nav-tabs a {
    line-height: 22px;
  }

  .resultFilters {
    margin-bottom: 10px;

    .form-group {
      margin-right: 5px;
    }

    .eventsInputFilter {
      float: none;
      margin-right: 5px;
    }

    .mapServerFilter {
      background: #fcf8e3;
      border-color: #fbeed5;

      label {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}