.results {

  th span {
    cursor: pointer;
  }

  tr td {
    line-height: 22px;
    vertical-align: middle;
  }

  .state ul {
    margin: 0;
    padding-left: 28px;
  }

  .state .Active {
    color: #5cb85c;
  }

  .state .Preparation {
    color: #f0ad4e;
  }

  .state .Inactive {
    color: #cccccc;
  }

  .state .Warmup {
    color: #fbdb0c;
  }

  .state .Success {
    color: #428bca;
  }

  .state .Fail {
    color: #d9534f;
  }

  .state {
    font-size: 30px;
    line-height: 22px;
  }

  td.state span {
    color: #333;
    font-size: 14px;
    vertical-align: top;
  }

  .type {
    line-height: 17px;
  }

  .name a {
    color: #333;
    text-decoration: none;
  }

  .name a:hover {
    text-decoration: underline;
  }

  .name ul {
    margin: 0;
    padding-left: 20px;
  }

  .name ul a {
    color: #999;
  }

  .name .wikiLink {
    color: blue;
    font-size: 10px;
  }

  .location .map a {
    color: #333;
    text-decoration: none;
  }

  .location .map a:hover {
    text-decoration: underline;
  }  

  .location .glyphicon {
    margin-right: 4px;
  }
}
